@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Variable.ttf') format('truetype');
}

#s1, a {
    font-family: 'Space Mono';
}

#s2 {
    font-family: 'Satoshi';
}

::selection {
    background: white;
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    background: white;
}
